<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="Replication.Core.ReplicationService">
                <endpoint address="net.pipe://localhost/ReplicationService" 
                          binding="netNamedPipeBinding"
                          contract="Replication.Core.Contract.IReplicationService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
